{% extends "oceanic-zen/templates/index.html" %}

{% block main %}
<h1>OLD 98-008: Rust Stuco</h1>
<div class="border"></div>
<p>
    This is the course website for 98-008, archived from the S23 semester (the last time it was taught by this pair of instructors). For the current version of the course website, see <a href="https://rust-stuco.github.io/">https://rust-stuco.github.io/</a>.
</p>
<ul>
    <li><a href="https://github.com/rust-stuco/syllabus/releases/download/s23e2/syllabus.pdf">Syllabus</a></li>
    <li><a href="slides/">Slides</a></li>
    <li><a href="handouts/">Homework Handouts</a></li>
</ul>
{% endblock main %}
